[submodule "isd"]
	path = isd
	url = https://github.com/isd-dev/isd
[submodule "grainofsalt"]
	path = grainofsalt
	url = https://github.com/msoos/grainofsalt
[submodule "symaes"]
	path = symaes
	url = https://github.com/vesselinux/symaes
[submodule "lextool"]
	path = lextool
	url = https://github.com/vesselinux/lextool
[submodule "cado-nfs"]
	path = cado-nfs
	url = https://scm.gforge.inria.fr/anonscm/git/cado-nfs/cado-nfs.git
[submodule "sha1collisiondetection"]
	path = sha1collisiondetection
	url = git@github.com:cr-marcstevens/sha1collisiondetection.git
[submodule "simon-speck-cryptanalysis"]
	path = simon-speck-cryptanalysis
	url = git@github.com:mmeh/simon-speck-cryptanalysis.git
[submodule "cryptosmt"]
	path = cryptosmt
	url = git@github.com:kste/cryptosmt.git
[submodule "YoyoTricksAES"]
	path = YoyoTricksAES
	url = https://github.com/sondrer/YoyoTricksAES
[submodule "Ascon_test"]
	path = Ascon_test
	url = https://github.com/lizhengcn/Ascon_test
[submodule "MILP_conditional_cube_attack"]
	path = MILP_conditional_cube_attack
	url = https://github.com/lizhengcn/MILP_conditional_cube_attack
[submodule "sha1_gpu_nearcollisionattacks"]
	path = sha1_gpu_nearcollisionattacks
	url = https://github.com/cr-marcstevens/sha1_gpu_nearcollisionattacks
