[submodule "isd"]
	path = isd
	url = https://github.com/isd-dev/isd
[submodule "grainofsalt"]
	path = grainofsalt
	url = https://github.com/msoos/grainofsalt
[submodule "symaes"]
	path = symaes
	url = https://github.com/vesselinux/symaes
[submodule "lextool"]
	path = lextool
	url = https://github.com/vesselinux/lextool
